* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #a9adb8 !important;
  background-color: #0a101e !important;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  overflow-x: hidden;
  text-transform: capitalize;
}
a {
  text-decoration: none !important;
  transition: all 0.3s ease !important;
  color: inherit;
}

.header-desktop.sticky-header {
  background-color: rgba(7, 13, 27, 0.9);
  box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.9);
}

.sticky-header {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
}
.header-main {
  position: relative;
}
/* .container{
    margin: 0 53px;
    padding: 0 10px;
} */
.header-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
}
/* .main-header-right>button {
  display: none;
} */

.main-header-right {
  text-transform: uppercase;
}
.main-header-right>.slide-icon{
  display: none;
} 
/* .fa-solid.fa-bars {
  display: none;
}
.st-munu-toggle{
  display: none;
} */
 .navbar .nav{
  display: flex;
  flex-wrap: wrap;
 }
/* .navbar {
  display: flex;
}
.nav {
  display: flex;
  flex-wrap: wrap;
} */
.navbar .nav > li {
  margin-right: 15px;
}

li {
  list-style-type: none;
}
.navbar .nav > li > a.active {
  color: #fec544;
}
.navbar .nav > li > a {
  color: #fdfeff;
}
.navbar .nav > li > a:hover {
  color: inherit;
}

/* header end */

/* homepage start */

.page-1 {
  height: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #070d1b;
  background-image: url("img/hero-bg-1.jpg");
}
.pf-bg {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.home-page-photo {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 6px solid hsla(0, 0%, 100%, 0.1);
  margin: auto auto 25px;
}
.pf-page-text > .home-page-name {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fdfeff;
}
.home-page-photo > img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pf-page-text > .home-page-name > span {
  color: #fec544;
}
.home-page-name-data {
  color: #a9adb8;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 22px;
}
.home-page-social-link {
  display: flex;
  justify-content: center;
}
.social-btn {
  color: #a9adb8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 10px;
}
.home-page-social-link .social-btn:hover {
  border-color: hsla(0, 0%, 100%, 0.6);
  color: hsla(0, 0%, 100%, 0.9);
}
/* homepage end */

/* about-me start */
.inner-spacer {
  height: 100px;
}
.section-heading {
  text-align: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 41px;
}
.section-heading .section-heading-title::after {
  content: "";
  position: absolute;
  background-color: #fec544;
  width: 70px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.section-heading .section-heading-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fec544;
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}
.section-heading .section-heading-subtitle {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 90px;
  font-weight: 700;
  color: rgba(21, 27, 41, 0.5);
  margin: -17px 0 0;
  width: 100%;
}
.section-height-25 {
  height: 25px;
}
.col-lg-6 {
  width: 100%;
  position: relative;
}
.about-img-wrap {
  padding-right: 30px;
}
.about-img {
  background-image: url("img/profile-pic.jpg");
  min-height: 550px;
}
.about-data {
  display: flex;
  align-items: center;
  height: 100%;
}
.about-data-in {
  width: 100%;
}
.about-heading-title {
  color: #fdfeff;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 18px;
}
.about-heading-subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #fec544;
  margin-bottom: 18px;
}
.about p {
  margin-bottom: 18px;
}
.about-detail {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #a9adb8;
}
.about-detail li {
  margin-bottom: 14px;
}
.about-detail li span:first-child {
  display: inline-block;
  width: 108px;
  margin-right: -5px;
}
.about-detail li span:last-child {
  margin-left: 7px;
  margin-bottom: 0;
}
.about-cv {
  margin-top: 48px;
}
.about-cv-inner {
  background-color: #fec544;
  color: #070d1b;
}
.about-cv-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-transform: capitalize;
  cursor: pointer;
}
.about-cv-inner:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(254, 198, 68, 0.314);
}
/* about-me end */

/* service start */

.section-iconbox {
  text-align: center;
  padding: 50px 30px;
  border-radius: 3px;
  transition: all 0.4s ease;
  border: 1px solid #232935;
  background-color: #101624;
  height: 390px;
}
.section-iconbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border: 0.5px solid #3f4551;
  border-radius: 50%;
  background-color: #070d1b;
  font-size: 50px;
  margin: auto auto 28px;
  transition: all 0.4s ease;
}
.section-iconbox:hover .section-iconbox-icon {
  border: 0.5px solid #fec544;
}
.section-iconbox .section-iconbox-icon > img {
  width: 52px;
  filter: grayscale(1);
  opacity: 0.35;
  transition: inherit;
}
.section-iconbox:hover .section-iconbox-icon img {
  filter: grayscale(0);
  opacity: 1;
}
.section-iconbox-title {
  font-weight: 400;
  line-height: 1.2em;
  font-size: 20px;
  margin-bottom: 16px;
  transition: all 0.4s ease;
}
.section-iconbox:hover .section-iconbox-title {
  color: #fec544;
}
.section-iconbox-text {
  margin-bottom: -6px;
}

.inner-spacer-last {
  height: 70px;
}

/* service end */

/* skills start */

.st-skills {
  background-color: #070d1b;
}
.inner-title {
  font-size: calc(2.175rem + 0.6vw);
}
.st-Design-Skill {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform 0.4s;
}
.heading-percentage {
  display: flex;
  justify-content: space-between;
}
.progress-charts + .progress-charts {
  margin-top: 30px;
}
.progress-charts .progress {
  height: 13px;
  overflow: visible;
  font-size: 14px;
  border-radius: 10px;
  padding: 3px;
  background: #212428;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4588235294),
    inset -8px -8px 16px rgba(56, 62, 69, 0.4588235294);
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
.progress-bar {
  visibility: visible;
  animation-duration: 0.7s;
  animation-delay: 0.3s;
  animation-name: fadeInLeft;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.9s ease;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.progress-charts .progress .progress-bar {
  overflow: visible;
  position: relative;
  border-radius: 14px;
  background: var(--color-primary-gradient-from);
  background: linear-gradient(145deg, #6a67ce 0%, #fc636b 100%);
}
/* .progress-charts .progress .progress-bar span.percent-label {
  position: relative;
  left: 590px;
  top: -22px;
  font-weight: 400;
  color: #c3cedd;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
  width: min-content;
} */
.h6.heading {
  margin-bottom: 15px;
  color: #c3cedd;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
  font-weight: 400;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.st-height-b25 {
  height: 25px;
}

/* skills end */

/* portfolio start */

.pt-portfolio {
  text-align: left;
  padding: 30px;
  position: relative;
  border-radius: 20px;

  position: relative;
  z-index: 1;
  height: 100%;
  transition: 0.5s all ease-in-out;
}
.pt-portfolio:hover::before {
  opacity: 1;
}
.pt-portfolio::before {
  content: "";
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #101624;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 0px 16px 11px #101624;
}

.pt-portfolio .inner {
  position: relative;
}
.pt-portfolio .inner .preview-type {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 5;
  display: inline-block;
  line-height: 1;
  color: #fff;
  opacity: 1;
  pointer-events: none;
  font-size: 20px;
}
.pt-portfolio .inner .thumbnail {
  overflow: hidden;
  border-radius: 10px;
}
.pt-portfolio .inner .thumbnail a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}
.pt-portfolio .inner .thumbnail img {
  width: 100%;
  transition: 0.4s;
  height: auto;
  object-fit: cover;
}
.pt-portfolio:hover .thumbnail img {
  transform: scale(1.1);
}
.pt-portfolio .inner .content {
  padding-top: 18px;
}
.pt-portfolio .inner .content .pt-project-title {
  margin: 0;
  transition: 0.4s;
}
.pt-portfolio .inner .content .pt-project-title a,
.pt-portfolio .inner .content .pt-project-title span {
  transition: 0.4s;
  color: #c4cfde;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: block;
}
.pt-portfolio .inner .content .pt-project-title:hover a,
.pt-portfolio .inner .content .pt-project-title:hover span {
  color: #ff014f;
}
.pt-portfolio .inner .content .pt-project-title a i,
.pt-portfolio .inner .content .pt-project-title span i {
  font-size: 0;
  position: relative;
  top: 10px;
  transition: 0.4s;
  opacity: 0;
}
.pt-portfolio .inner .content .pt-project-title:hover a i,
.pt-portfolio .inner .content .pt-project-title:hover span i {
  color: #ff014f;
  top: 3px;
  opacity: 1;
  font-size: 23px;
}

/* portfolio end */

/* footer start */
.st-dark-bg {
  background-color: #070d1b;
}
.contact {
  position: relative;
}
.contact-detail {
  position: relative;
  display: flex;
}
.st-contact-title {
  font-size: 30px;
  font-weight: 400;
  /* margin-top: -6px; */
  margin-bottom: 22px;
}
#st-alert {
  font-size: 15px;
  font-weight: 300;
}
.st-form-field {
  width: 100%;
  margin-bottom: 30px;
}
.st-form-field input,
.st-form-field textarea {
  display: block;
  width: 100%;
  color: #a9adb8;
  padding: 12px 20px;
  border: 1px solid #232935;
  background-color: #101624;
  height: 52px;
  border-radius: 7px;
  transition: all 0.4s ease;
}
.st-form-field input:focus,
.st-form-field textarea:focus {
  border-color: #fec544;
  outline: 0;
}
.st-form-field textarea {
  height: 95px;
}
textarea {
  resize: vertical;
}
.st-btn.st-style1.st-color1 {
  background-color: #fec544;
  color: #070d1b;
}
.st-btn.st-style1,
.st-btn.st-style2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-transform: capitalize;
  cursor: pointer;
}
.st-btn.st-style1:hover,
.st-btn.st-style2:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(254, 198, 68, 0.314);
}

.st-contact-text {
  margin-bottom: 23px;
}
.st-single-contact-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.st-single-contact-info .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #3f4551;
  border-radius: 50%;
  background-color: #070d1b;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition: all 0.4s ease;
}
.st-single-contact-info:hover .icon-wrap {
  border-color: #fec544;
}
.st-single-info-details h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: -4px;
  margin-bottom: 6px;
}
.st-single-info-details a {
  display: block;
  margin-bottom: -2px;
  color: inherit;
}
.st-single-info-details a:hover {
  color: #fec544;
}
.st-single-info-details span {
  display: block;
  margin-bottom: -2px;
}
.st-social-info .st-social-text {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
}
.st-social-link {
  display: flex;
}
.st-social-link a {
  color: #fdfeff;
}
.st-social-link .st-social-btn.active,
.st-social-link .st-social-btn:hover {
  padding-right: 15px;
}
.st-social-link .st-social-btn:not(:last-child) {
  margin-right: 20px;
}
.st-social-link .st-social-btn {
  border-radius: 50px;
  background-color: #070d1b;
  border: 0.5px solid #3f4551;
  transition: all 0.4s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.st-social-link .st-social-btn .st-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.4s ease;
}
.st-social-link .st-social-btn.active .st-icon-name,
.st-social-link .st-social-btn:hover .st-icon-name {
  max-width: 140px;
}
.st-social-link .st-social-btn .st-icon-name {
  font-weight: 600;
  color: #fdfeff;
  overflow: hidden;
  max-width: 0;
  transition: all 0.5s ease;
}

.footer-copy-right-privacy {
  margin: 11px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  box-sizing: border-box;
}
.copyright-condition {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
}
#copyright {
  margin-right: 19.2px;
  overflow-wrap: break-word;
  font-family: "ABeeZee";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff !important;
}
.term-condition {
  overflow-wrap: break-word;
  font-family: "Sailec", "Roboto Condensed";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white, #ffffff);
}
.private-policy {
  overflow-wrap: break-word;
  font-family: "Sailec", "Roboto Condensed";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
}
.copyright-line {
  background: #ffffff;
  margin-right: 19px;
  width: 1px;
  height: 18px;
}

/* footer end */

@media screen and (max-width: 767px) {
  .main-header-right>.slide-icon{
    display: block;
  }
  .navbar {
    position: static !important;
  }
  .navbar .nav {
    position: absolute;
    width: 100vw;
    left: 0;
    background-color: rgba(7, 13, 27, 0.9);
    box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.9);
    padding: 10px 0;
    display: none;
    top: 100%;
    border-top: 1px solid #101624;
    border-bottom: 1px solid #101624;
    overflow: auto;
    max-height: calc(100vh - 80px);
  }
  .nav .nav li {
    margin-right: 30px;
  }
  .navbar .nav a {
    display: block;
    padding: 8px 20px;
  }
  /* .burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 10px;
    background-color: #aeaeae;
    position: relative;
  }
  .burger input[type="checkbox"] {
    appearance: none;
    transition: 300ms;
  }

  .burger::before,
  .burger::after {
    content: "";
    transition: 300ms;
    transform-origin: center center;
  }

  .burger::before {
    transform: translateY(8px);
  }
  .burger::after {
    transform: translateY(-8px);
  }
  .burger .line,
  .burger::before,
  .burger::after {
    width: 25px;
    height: 2.1px;
    display: block;
    background-color: black;
    border-radius: 5px;
    position: absolute;
  } */

  /* .burger .line:checked {
    width: 0;
    transition-delay: 100ms;
  }
  .burger:has(.line:checked)::before {
    animation: animation1 400ms ease-out 0s 1 both;
  }
  .burger:has(.line:checked)::after {
    animation: animation2 400ms ease-out 0s 1 both;
  }
   */
  /* .burger:hover {
    background: #aeaeae;
    border-radius: 50%;
  }

  .burger:hover .line,
  .burger:hover::before,
  .burger:hover::after {
    background: #e8e8e8;
  }

  .burger:active {
    scale: 0.95;
  } */

  /* .st-munu-toggle {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 27px;
    margin: 15px 0;
    cursor: pointer
}

.st-munu-toggle span,.st-munu-toggle span:after,.st-munu-toggle span:before {
    width: 100%;
    height: 2px;
    background-color: #666;
    display: block
}

.st-munu-toggle span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition-duration: 0s;
    transition-delay: .2s
}

.st-munu-toggle span:before {
    margin-top: -8px
}

.st-munu-toggle span:after,.st-munu-toggle span:before {
    content: "";
    position: absolute;
    transition-property: margin,transform;
    transition-duration: .2s;
    transition-delay: .2s,0s
}

.st-munu-toggle span:after {
    margin-top: 8px
}

.st-toggle-active span {
    background-color: transparent;
    transition-delay: .2s
}

.st-toggle-active span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0s,.2s
}

.st-toggle-active span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0s,.2s
} */

  /* about start */
  .section-heading-subtitle {
    display: none;
  }
  .about-img-wrap {
    padding: 0px;
  }
  .about-cv {
    display: flex;
    justify-content: center;
  }

  /* about end */

  /* SERVICE start */
  .section-iconbox {
    margin-bottom: 10px;
  }
  .inner-spacer-last {
    display: none;
  }

  /* SERVICE end */

  /* SKILLS start  */

  .inner-title {
    font-size: calc(1.875rem + 2.2vw);
  }

  .st-Design-Skill {
    margin-bottom: 20px;
  }

  /* SKILLS end  */

  /* PORTFOLIO start  */

  /* PORTFOLIO end  */

  /* CONTACT start   */

  /* CONTACT end   */

  /* footer start  */

  .submit-btn {
    display: flex;
    justify-content: center;
  }

  /* footer end  */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-iconbox {
    margin-bottom: 10px;
  }
  
  .main-header-right>.slide-icon {
    display: block;
  }
  .navbar {
    position: static !important;
  }
  .navbar .nav {
    position: absolute;
    width: 100vw;
    left: 0;
    background-color: rgba(7, 13, 27, 0.9);
    box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.9);
    padding: 10px 0;
    display: none;
    top: 100%;
    border-top: 1px solid #101624;
    border-bottom: 1px solid #101624;
    overflow: auto;
    max-height: calc(100vh - 80px);
  }
  .nav .nav li {
    margin-right: 30px;
  }
  .navbar .nav a {
    display: block;
    padding: 8px 20px;
  }
  /* .burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 10px;
    background-color: #aeaeae;
  }
  .burger input[type="checkbox"] {
    appearance: none;
    transition: 300ms;
  }

  .burger::before,
  .burger::after {
    content: "";
    transition: 300ms;
    transform-origin: center center;
  }

  .burger::before {
    transform: translateY(8px);
  }
  .burger::after {
    transform: translateY(-8px);
  }
  .burger .line,
  .burger::before,
  .burger::after {
    width: 25px;
    height: 2.1px;
    display: block;
    background-color: black;
    border-radius: 5px;
    position: absolute;
  }

  .burger:hover {
    background: #aeaeae;
    border-radius: 50%;
  }

  .burger:hover .line,
  .burger:hover::before,
  .burger:hover::after {
    background: #e8e8e8;
  }

  .burger:active {
    scale: 0.95;
  } */
}
@media screen and (min-width: 992px) {
  
  .navbar .nav{
    display: flex!important;
    flex-wrap: wrap;
   }
}
